@import 'reset';
@import 'bourbon/bourbon';
@import 'colors';
@import 'variables';
@import 'fonts/fonts';

html, body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    @include user-select(none);
    -webkit-tap-highlight-color: transparent;
}

input, textarea, button {
    font-family: inherit;
    border-radius: 0;

}

@import 'components/components';
@import 'screens/screens';


