<header class="slide-up-header">
    <h1></h1>
</header>
<main class="slide-up-content">

    <div class="slide-up-progress">
        <svg viewBox="0 0 420 420" class="slide-up-progress-spinner">
            <circle class="spinner-circle spinner-circle-inner" cx="210" cy="210" r="185"/>
            <circle class="spinner-circle spinner-circle-outer" cx="210" cy="210" r="185"/>
        </svg>
        <div class="slide-up-progress-message">Loading</div>
    </div>
</main>
<footer class="slide-up-footer">
    <div role="button" class="close" ng-click="slidup.cancel()">Cancel</div>
</footer>