game {

    .game-board {
        position: absolute;
    }

    .game-board-layer {
        position: absolute;
        top: 0;
        left: 0;
    }

    header {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
    }

    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: $footerHeight;
    }

    main {
        position: fixed;
        top: 0;
        bottom: $footerHeight;
        right: 0;
        left: 0;
        overflow: hidden;
    }

    .bit-proxy {

        top: 0;
        left: 0;
        position: absolute;
        visibility: hidden;
        font-size: 0;
        box-sizing: border-box;

        &.dragging {
            visibility: visible;
        }
    }

}
